<div id="banner" style="margin: 0 auto 20px; width: 728px;">
	<aside id="text-323823342" class="widget widget_text">
		<div class="textwidget">
			<!-- begin 728x90 Top Razzball -->
			<script type="text/javascript" language="JavaScript">// <![CDATA[
			window.dctile = Number(window.dctile) + 1 || 1; window.dc_ord = Number(window.dc_ord) || Math.floor(Math.random() * 1E10); if (dctile==1) {var vdcopt = 'ist';} else {vdcopt = '';} if (17>dctile) document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/yb.razzball/;chan1=mlb;chan2=fantasy;rating=pg;dcopt=' + vdcopt + ';yb=ad;s1=;s2=;tile=' + dctile + ';sz=728x90;ord=' + dc_ord + '?"><\/script>\n');
// ]]></script>
<!-- End ad tag --></div></aside></div><!-- #banner -->