<div id="secondary" class="widget-area" role="complementary" style="margin-bottom: 15px">

			<aside id="text-323823346" class="widget widget_text">			<div class="textwidget">
<!-- ValueClick Media 160x600 WIDE SKYSCRAPER CODE for Razzball -->
<script language="javascript" src="http://media.fastclick.net/w/get.media?sid=56974&tp=7&d=j&t=n"></script>
<noscript><a href="http://media.fastclick.net/w/click.here?sid=56974&m=3&c=1" target="_blank">
<img src="http://media.fastclick.net/w/get.media?sid=56974&tp=7&d=s&c=1" width=160 height=600 border=1></a></noscript>
<!-- ValueClick Media 160x600 WIDE SKYSCRAPER CODE for Razzball --> <br><br> <!-- begin 160x600 Top Razzball -->
<script language="JavaScript" type="text/javascript">
window.dctile = Number(window.dctile) + 1 || 1;
window.dc_ord = Number(window.dc_ord) || Math.floor(Math.random() * 1E10);
if (dctile==1) {var vdcopt = 'ist';} else {vdcopt = '';}
if (17>dctile) document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/yb.razzball/;chan1=mlb;chan2=fantasy;rating=pg;dcopt=' + vdcopt + ';yb=ad;s1=;s2=;tile=' + dctile + ';sz=160x600;ord=' + dc_ord + '?"><\/script>\n');
</script>
<!-- End ad tag -->  </div>
		</aside>				</aside>
		</div><!-- #secondary .widget-area -->