
<!DOCTYPE html>

<!--[if IE 6]>
<html id="ie6" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Razzball Fantasy Baseball Player Rater - 12 Team MLB (ESPN) | Fantasy Baseball Blog at Razzball.com</title>
<link rel="profile" href="http://gmpg.org/xfn/11" />
<link rel="stylesheet" type="text/css" media="all" href="http://razzball.com/wp-content/themes/razzball2012/style.css" />
<%= stylesheet_link_tag    "application", media: "all" %>
<%= javascript_include_tag "application" %>
<link rel="pingback" href="http://razzball.com/xmlrpc.php" />
<!--[if lt IE 9]>
<script src="http://razzball.com/wp-content/themes/razzball2012/js/html5.js" type="text/javascript"></script>
<![endif]-->

	<!--[if lt IE 9]>
		<script type="text/javascript" src="http://razzball.com/wp-content/themes/razzball2012/js/IE9.js"></script>
	<![endif]--><!-- makes IE7 suck less -->


<!-- This site is optimized with the Yoast WordPress SEO plugin v1.3.4.4 - http://yoast.com/wordpress/seo/ -->
<link rel="canonical" href="http://razzball.com/playerrater/" />
<link rel="author" href="https://plus.google.com/116886068689907349133/"/>
<meta property='og:locale' content='en_US'/>
<meta property='og:title' content='Razzball Fantasy Baseball Player Rater - 12 Team MLB (ESPN) - Fantasy Baseball Blog at Razzball.com'/>
<meta property='og:url' content='http://razzball.com/playerrater/'/>
<meta property='og:site_name' content='Fantasy Baseball Blog at Razzball.com'/>
<meta property='og:type' content='article'/>
<meta property='og:image' content='http://razzball.com/wp-content/themes/razzball2012/images/baseball-logo.png'/>
<!-- / Yoast WordPress SEO plugin. -->

<link rel="alternate" type="application/rss+xml" title="Fantasy Baseball Blog at Razzball.com &raquo; Feed" href="http://razzball.com/feed/" />
<link rel="alternate" type="application/rss+xml" title="Fantasy Baseball Blog at Razzball.com &raquo; Comments Feed" href="http://razzball.com/comments/feed/" />

			<script type="text/javascript">//<![CDATA[
			// Google Analytics for WordPress by Yoast v4.2.8 | http://yoast.com/wordpress/google-analytics/
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-31656204-1']);
							_gaq.push(['_trackPageview']);
			(function () {
				var ga = document.createElement('script');
				ga.type = 'text/javascript';
				ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(ga, s);
			})();
			//]]></script>
			<link rel='stylesheet' id='really_simple_share_style-css'  href='http://razzball.com/wp-content/plugins/really-simple-facebook-twitter-share-buttons/style.css?ver=3.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='neograb-css'  href='http://razzball.com/wp-content/plugins/odesk_for_rudy_gamble/neograb.css?ver=3.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='jquery-ui-wp-fix-css'  href='http://razzball.com/wp-content/plugins/wp-ui/css/jquery-ui-wp-fix.css?ver=3.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='jquery-ui-css-smoothness-css'  href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/smoothness/jquery.ui.all.css?ver=3.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='razz-css'  href='http://design-and-develop.ca/wp-content/uploads/wp-ui/razz/jquery-ui-1.9.1.custom.css?ver=3.5.1' type='text/css' media='all' />
<script type='text/javascript' src='https://platform.twitter.com/widgets.js?ver=3.5.1'></script>
<script type='text/javascript' src='http://razzball.com/wp-includes/js/comment-reply.min.js?ver=3.5.1'></script>
<script type='text/javascript' src='http://razzball.com/wp-includes/js/jquery/jquery.js?ver=1.8.3'></script>
<script type='text/javascript' src='http://razzball.com/?ver=pprjq1'></script>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js?ver=1.8.21'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wpUIOpts = {"wpUrl":"http:\/\/razzball.com","pluginUrl":"http:\/\/razzball.com\/wp-content\/plugins\/wp-ui\/","enableTabs":"on","enableAccordion":"off","enableSpoilers":"off","enableDialogs":"off","tabsEffect":"none","effectSpeed":"400","accordEffect":"none","alwaysRotate":"stop","tabsEvent":"click","collapsibleTabs":"off","accordEvent":"click","topNav":"off","accordAutoHeight":"on","accordCollapsible":"off","accordEasing":"false","mouseWheelTabs":"false","bottomNav":"off","tabPrevText":"Prev","tabNextText":"Next","spoilerShowText":"Click to show","spoilerHideText":"Click to hide","cookies":"off","hashChange":"off","docWriteFix":"off","bleeding":"off","linking_history":"off","misc_options":"hashing_method=1\r\ntinymce_icon_row=3"};
/* ]]> */
</script>
<script type='text/javascript' src='http://razzball.com/wp-content/plugins/wp-ui/js/wp-ui.js?ver=0.8.5'></script>
<script type='text/javascript' src='http://razzball.com/wp-content/plugins/odesk_for_rudy_gamble/js/jquery.tablesorter.js?ver=3.5.1'></script>
<script type='text/javascript' src='http://razzball.com/wp-content/plugins/odesk_for_rudy_gamble/js/jquery.tablesorter.filter.mod.js?ver=3.5.1'></script>
<script type='text/javascript' src='http://razzball.com/wp-content/plugins/odesk_for_rudy_gamble/js/table.js?ver=3.5.1'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://razzball.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://razzball.com/wp-includes/wlwmanifest.xml" />
<meta name="generator" content="WordPress 3.5.1" />
<link rel="stylesheet" href="http://razzball.com/wp-content/plugins/ob-page-numbers/css/Default.css" type="text/css" media="screen" /><script type="text/javascript">
		  window.___gcfg = {lang: "en"};
		  (function() {
		    var po = document.createElement("script"); po.type = "text/javascript"; po.async = true;
		    po.src = "https://apis.google.com/js/plusone.js";
		    var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script><script type="text/javascript" src="http://razzball.com/wp-content/plugins/powerpress/player.js"></script>
<script type="text/javascript"><!--
function powerpress_pinw(pinw){window.open('http://razzball.com/?powerpress_pinw='+pinw, 'PowerPressPlayer','toolbar=0,status=0,resizable=1,width=460,height=320');	return false;}
powerpress_url = 'http://razzball.com/wp-content/plugins/powerpress/';
//-->
</script>
<link rel="alternate" type="application/rss+xml" title="Default Podcast Feed" href="http://razzball.com/feed/podcast/" />
<link rel="Shortcut Icon" type="image/x-icon" href="http://razzball.com/files/favicon.ico" /><script type="text/javascript" src="http://razzball.com/wp-content/themes/razzball2012/js/misc.js"></script>

<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="http://razzball.com/wp-content/themes/razzball2012/ie7.css">
<![endif]-->
</head>

<body id="baseball" class="page page-id-25090 page-template page-template-page-wide-php">
<div id="page" class="hfeed">
	<div id="branding" role="banner">
		<div class="wrap">


		<h1 id="site-title"><a href="http://razzball.com/" title="Fantasy Baseball Blog at Razzball.com" rel="home"><img src="http://razzball.com/wp-content/themes/razzball2012/images/baseball-logo.png" alt="Fantasy Baseball Blog at Razzball.com" /></a></h1>

		<div id="sitemenu">
			<div class="wrap">
				<div class="socialmedia">
				<a href="/feed"><img src="http://razzball.com/wp-content/themes/razzball2012/images/icon-rss.png" alt="RSS" /></a><!-- RSS -->				<a href="http://twitter.com/razzball"><img src="http://razzball.com/wp-content/themes/razzball2012/images/icon-twitter.png" alt="Twitter" /></a><!-- twitter -->				<a href="http://www.facebook.com/pages/Razzball/80954147808"><img src="http://razzball.com/wp-content/themes/razzball2012/images/icon-facebook.png" alt="Facebook" /></a><!-- facebook -->				<a href="itms://itunes.apple.com/us/podcast/fantasy-baseball-blog-at-razzball.com/id510098639#"><img src="http://razzball.com/wp-content/themes/razzball2012/images/icon-podcast.png" alt="iTunes" /></a><!-- iTunes -->				</div>

				    <form id="searchform" method="get" action="/index.php">
      <div>
         <input type="text" name="s" id="s"  placeholder="Search Site" onblur="if (this.value == '') {this.value = 'Search Site';}"
 onfocus="if (this.value == 'Search Site') {this.value = '';}" /><input id="sb" type="submit" value="Go" />
      </div>
     </form>				<div class="menu-top-menu-container"><ul id="menu-top-menu" class="menu"><li id="menu-item-31724" class="baseball current menu-item menu-item-type-custom menu-item-object-custom menu-item-31724"><a href="/">Baseball</a></li>
<li id="menu-item-31813" class="football ppr-nofollow menu-item menu-item-type-post_type menu-item-object-page menu-item-31813"><a rel="nofollow" href="http://razzball.com/fantasy-football/" >Football</a></li>
<li id="menu-item-31814" class="basketball ppr-nofollow menu-item menu-item-type-post_type menu-item-object-page menu-item-31814"><a rel="nofollow" href="http://razzball.com/fantasy-basketball/" >Basketball</a></li>
<li id="menu-item-31815" class="hockey ppr-nofollow menu-item menu-item-type-post_type menu-item-object-page menu-item-31815"><a rel="nofollow" href="http://razzball.com/fantasy-hockey/" >Hockey</a></li>
<li id="menu-item-31816" class="forums menu-item menu-item-type-post_type menu-item-object-page menu-item-31816"><a href="http://razzball.com/forums/" >Forums</a></li>
</ul></div>			<div class="cboth"></div></div><!--/wrap-->
		<div class="cboth"></div></div><!--/sitemenu-->
		<div id="banner">
							<aside id="text-323823342" class="widget widget_text">			<div class="textwidget"><!-- begin 728x90 Top Razzball -->
<script type="text/javascript" language="JavaScript">// <![CDATA[
window.dctile = Number(window.dctile) + 1 || 1; window.dc_ord = Number(window.dc_ord) || Math.floor(Math.random() * 1E10); if (dctile==1) {var vdcopt = 'ist';} else {vdcopt = '';} if (17>dctile) document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/yb.razzball/;chan1=mlb;chan2=fantasy;rating=pg;dcopt=' + vdcopt + ';yb=ad;s1=;s2=;tile=' + dctile + ';sz=728x90;ord=' + dc_ord + '?"><\/script>\n');
// ]]></script>
<!-- End ad tag --></div>
		</aside>					</div><!-- #banner -->

		<div class="cboth"></div></div><!--/wrap-->

		<nav id="access" role="navigation">
		<div class="wrap">
			<h2 id="site-description">Fantasy Baseball Advice</h2>

			<ul id="menu-main-menu" class="menu"><li id="menu-item-31723" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-31723"><a href="/">Home</a></li>
<li id="menu-item-31743" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-31743"><a href="/2013-fantasy-baseball-rankings/">Rankings</a>
<ul class="sub-menu">
	<li id="menu-item-32824" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-32824"><a href="http://razzball.com/top-10-for-2013-fantasy-baseball/" >Top 10</a></li>
	<li id="menu-item-32869" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-32869"><a href="http://razzball.com/top-20-for-2013-fantasy-baseball/" >Top 20</a></li>
	<li id="menu-item-32971" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-32971"><a href="http://razzball.com/top-20-catchers-for-2013-fantasy-baseball/" >Catchers</a></li>
	<li id="menu-item-33012" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-33012"><a href="http://razzball.com/top-20-1st-basemen-for-2013-fantasy-baseball/" >1B</a></li>
	<li id="menu-item-33054" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-33054"><a href="http://razzball.com/top-20-2nd-basemen-for-2013-fantasy-baseball/" >2B</a></li>
	<li id="menu-item-33103" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-33103"><a href="http://razzball.com/top-20-shortstops-for-2013-fantasy-baseball/" >SS</a></li>
	<li id="menu-item-33154" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-33154"><a href="http://razzball.com/top-20-3rd-basemen-for-2013-fantasy-baseball/" >3B</a></li>
	<li id="menu-item-33455" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-33455"><a href="http://razzball.com/top-100-outfielders-for-2013-fantasy-baseball/" >Top 100 OFs</a></li>
	<li id="menu-item-33690" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-33690"><a href="http://razzball.com/top-100-starters-for-2013-fantasy-baseball/" >Top 100 SPs</a></li>
	<li id="menu-item-31916" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-31916"><a href="http://razzball.com/category/2013-fantasy-baseball-sleeper/" >Sleepers</a></li>
	<li id="menu-item-31762" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-31762"><a href="http://razzball.com/category/2013-fantasy-baseball-rookies/" >Rookies</a></li>
	<li id="menu-item-31746" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-31746"><a href="http://razzball.com/category/fantasy-baseball-draft-strategy/" >Draft Strategy</a></li>
	<li id="menu-item-31764" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-31764"><a href="/2012-final-fantasy-baseball-rankings/">Previous Year Rankings</a></li>
</ul>
</li>
<li id="menu-item-31736" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-31736"><a href="#">Player News</a>
<ul class="sub-menu">
	<li id="menu-item-31744" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-31744"><a href="http://razzball.com/category/fantasy-baseball-daily-notes/" >Daily Notes</a></li>
	<li id="menu-item-31745" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-31745"><a href="http://razzball.com/category/fantasy-baseball-buysell/" >Buy/Sell</a></li>
	<li id="menu-item-31761" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-31761"><a href="http://razzball.com/category/razzball-podcast/" >Podcasts</a></li>
	<li id="menu-item-31748" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-31748"><a href="http://razzball.com/category/fantasy-baseball-prospects/" >Prospects</a></li>
	<li id="menu-item-31753" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-31753"><a href="http://razzball.com/category/position/closers/" >Closers</a></li>
	<li id="menu-item-33263" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-33263"><a href="http://razzball.com/category/2013-fantasy-baseball-team-preview/" >Team Previews</a></li>
	<li id="menu-item-31752" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-31752"><a href="http://razzball.com/category/creeper-of-the-week/" >Creeper of the Week</a></li>
	<li id="menu-item-31750" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-31750"><a href="http://razzball.com/category/ops-leagues/" >OPS Leagues</a></li>
	<li id="menu-item-31751" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-31751"><a href="http://razzball.com/category/points-leagues-2/" >Points Leagues</a></li>
	<li id="menu-item-31747" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-31747"><a href="http://razzball.com/category/fantasy-baseball-two-start-pitchers/" >Two Start Pitchers</a></li>
</ul>
</li>
<li id="menu-item-33313" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-33313"><a href="#">Stats</a>
<ul class="sub-menu">
	<li id="menu-item-33314" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-33314"><a href="http://razzball.com/steamer-hitter-projections-2013/" >Steamer Hitter Projections</a></li>
	<li id="menu-item-33315" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-33315"><a href="http://razzball.com/steamer-pitcher-projections-2013/" >Steamer Pitcher Projections</a></li>
</ul>
</li>
<li id="menu-item-31742" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current-menu-ancestor current-menu-parent menu-item-31742"><a href="/playerrater/">Player Rater</a>
<ul class="sub-menu">
	<li id="menu-item-33316" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-33316"><a href="http://razzball.com/playerrater-preseason-espnmlb12/" >2013 Preseason $ Values/Player Rater</a></li>
	<li id="menu-item-33320" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-33320"><a href="http://razzball.com/playerrater" >2012 Player Rater</a></li>
</ul>
</li>
<li id="menu-item-31737" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-31737"><a href="#">Tools</a>
<ul class="sub-menu">
	<li id="menu-item-31739" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-31739"><a href="/fantasy-baseball-terms/">Glossary</a></li>
	<li id="menu-item-31741" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-31741"><a href="/streamers">Stream-o-Nator</a></li>
	<li id="menu-item-31740" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-31740"><a href="/fantasy-baseball-team-name-generator/">Team Name Generator</a></li>
	<li id="menu-item-31754" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-31754"><a href="/playerrater-babipvavg">BABIP vs. AVG Comparison</a></li>
	<li id="menu-item-31755" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-31755"><a href="/playerrater-fipvera">FIP vs. ERA Comparison</a></li>
</ul>
</li>
<li id="menu-item-31738" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-31738"><a href="#">Leagues</a>
<ul class="sub-menu">
	<li id="menu-item-31759" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-31759"><a href="/2012-fantasy-razzball-master-standings">Commenter League Master Standings</a></li>
	<li id="menu-item-31760" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-31760"><a href="/2012-fantasy-razzball-master-standings-2/">Fantasy Razzball Master Standings</a></li>
	<li id="menu-item-31749" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-31749"><a href="http://razzball.com/category/our-leagues/" >League Updates</a></li>
</ul>
</li>
</ul>			<div class="cboth"></div></div><!--/wrap-->
		<div class="cboth"></div></nav><!-- #access -->
	<div class="cboth"></div></div><!-- #branding -->

	<div id="main">
		<div id="primary-wide">
			<div id="content" role="main">



<article id="post-25090" class="post-25090 page type-page status-publish hentry">
	<header class="entry-header">
<!-- 		<h1 class="entry-title">PAGE TITLE GOES HERE</h1> -->
	</header><!-- .entry-header -->

	<div class="entry-content">

					<!-- begin 728x90 Top Razzball -->
<script type="text/javascript" language="JavaScript">// <![CDATA[
window.dctile = Number(window.dctile) + 1 || 1; window.dc_ord = Number(window.dc_ord) || Math.floor(Math.random() * 1E10); if (dctile==1) {var vdcopt = 'ist';} else {vdcopt = '';} if (17>dctile) document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/yb.razzball/;chan1=mlb;chan2=fantasy;rating=pg;dcopt=' + vdcopt + ';yb=ad;s1=;s2=;tile=' + dctile + ';sz=728x90;ord=' + dc_ord + '?"><\/script>\n');
// ]]></script>
<!-- End ad tag -->


		<div style="min-height:33px;" class="really_simple_share robots-nocontent snap_nopreview"><div class="really_simple_share_facebook_like" style="width:80px;"><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Frazzball.com%2Fplayerrater%2F&amp;send=false&amp;layout=button_count&amp;width=80&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;height=27&amp;locale=en_US"
						scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:27px;" allowTransparency="true"></iframe></div><div id="fb-root"></div>
						<script>(function(d, s, id) {
						  var js, fjs = d.getElementsByTagName(s)[0];
						  if (d.getElementById(id)) return;
						  js = d.createElement(s); js.id = id;
						  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1"; //&appId=1234567890
						  fjs.parentNode.insertBefore(js, fjs);
						}(document, "script", "facebook-jssdk"));</script>
					<div class="really_simple_share_facebook_like_send">
					<div class="fb-send" data-href="http://razzball.com/playerrater/"></div></div><div class="really_simple_share_twitter" style="width:80px;"><a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal"
						data-text="Razzball Fantasy Baseball Player Rater &#8211; 12 Team MLB (ESPN) @Razzball" data-url="http://razzball.com/playerrater/"
						data-via=""  ></a></div><div class="really_simple_share_google1" style="width:70px;"><div class="g-plusone" data-size="medium" data-href="http://razzball.com/playerrater/" ></div></div></div>
		<div style="clear:both;"></div>

		<div style="position: relative">
			<%= render "layouts/navigation" unless current_page?(users_path) %>
			<%= yield %>
		</div>
					</div><!-- .entry-content -->
		</article>

			</div><!-- #content -->
		</div><!-- #primary -->

		<div id="secondary" class="widget-area" role="complementary">

			<aside id="text-323823346" class="widget widget_text">			<div class="textwidget">
<!-- ValueClick Media 160x600 WIDE SKYSCRAPER CODE for Razzball -->
<script language="javascript" src="http://media.fastclick.net/w/get.media?sid=56974&tp=7&d=j&t=n"></script>
<noscript><a href="http://media.fastclick.net/w/click.here?sid=56974&m=3&c=1" target="_blank">
<img src="http://media.fastclick.net/w/get.media?sid=56974&tp=7&d=s&c=1" width=160 height=600 border=1></a></noscript>
<!-- ValueClick Media 160x600 WIDE SKYSCRAPER CODE for Razzball --> <br><br> <!-- begin 160x600 Top Razzball -->
<script language="JavaScript" type="text/javascript">
window.dctile = Number(window.dctile) + 1 || 1;
window.dc_ord = Number(window.dc_ord) || Math.floor(Math.random() * 1E10);
if (dctile==1) {var vdcopt = 'ist';} else {vdcopt = '';}
if (17>dctile) document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/yb.razzball/;chan1=mlb;chan2=fantasy;rating=pg;dcopt=' + vdcopt + ';yb=ad;s1=;s2=;tile=' + dctile + ';sz=160x600;ord=' + dc_ord + '?"><\/script>\n');
</script>
<!-- End ad tag -->  </div>
		</aside>				</aside>
		</div><!-- #secondary .widget-area -->




		<div id="footerbanner">
					<div class="textwidget"><!-- ValueClick Media 728x90 LEADERBOARD CODE for Razzball -->
<a href="http://media.fastclick.net/w/click.here?sid=56974&amp;m=1&amp;c=1" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://media.fastclick.net']);" target="_blank"><img src="http://media.fastclick.net/w/get.media?sid=56974&amp;tp=5&amp;d=s&amp;c=1&amp;vcm_acv=1.3" width="728" height="90" border="1"></a>
<!-- ValueClick Media 728x90 LEADERBOARD CODE for Razzball --></div>
			</div>

	<div class="cboth"></div></div><!-- #main -->

	<footer id="colophon" role="contentinfo">

<a href="http://razzball.com/" title="Fantasy Baseball Blog at Razzball.com" rel="home"><img src="http://razzball.com/wp-content/themes/razzball2012/images/baseball-logo-footer.png" alt="Fantasy Baseball Blog at Razzball.com" /></a>



				<div class="menu-footer-menu-container"><ul id="menu-footer-menu" class="menu"><li id="menu-item-31779" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-31779"><a href="/about">About</a></li>
<li id="menu-item-31775" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31775"><a href="http://razzball.com/razzball-fantasy-baseball-blog-authors/" >Authors</a></li>
<li id="menu-item-31731" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31731"><a href="http://razzball.com/links/" >Links</a></li>
<li id="menu-item-31732" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31732"><a href="http://razzball.com/razzball-t-shirts/" >Merchandise</a></li>
<li id="menu-item-31733" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-31733"><a href="/feed">Subscribe</a></li>
<li id="menu-item-31734" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-31734"><a href="/sitemap_index.xml">Sitemap.xml</a></li>
</ul></div>
	<p>Copyright 2007 - 2013 Razzball LLC. All rights reserved.  Razzball.com and the Razzball logo units are copyright Razzball LLC.<br />Site by <a href="http://www.designanddevelop.ca">Design &amp; Develop</a></p>
	<div class="cboth"></div></footer><!-- #colophon -->
</div><!-- #page -->


<script type="text/javascript">
<!--
var a=document.getElementsByTagName("a");var d=/^(http|https):\/\/([a-z-.0-9]+)[\/]{0,1}/i.exec(window.location);var il=new RegExp("^(http|https):\/\/"+d[2], "i");for(var i=0; i<a.length; i++) {if (!il.test(a[i].href) && a[i].href.toLowerCase().substring(0, 4) == "http") {a[i].target="_blank";}}
//-->
</script>
<link rel='stylesheet' id='colorbox-css'  href='http://razzball.com/wp-content/plugins/wp-rss-aggregator/css/colorbox.css?ver=3.5.1' type='text/css' media='all' />
<script type='text/javascript' src='http://razzball.com/wp-content/plugins/wp-rss-aggregator/js/jquery.colorbox-min.js?ver=3.5.1'></script>
<script type='text/javascript' src='http://razzball.com/wp-content/plugins/wp-rss-aggregator/js/custom.js?ver=3.5.1'></script>

</body>
</html>